.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }

  .nav-tabs .nav-item.nav-link.active {
    background-color: transparent !important;
  }

  .nav-tab {
    background-color: transparent !important;
  }

  .tabTransparent ul > li > a {
    background-color: transparent !important;
}